.profile {
  background-color: #202020;
  height: 100vh;
  padding-top: 74px;
  width: 100%;
}

.profile__title {
  margin: 0 0 123px;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__input-container {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin: 0 auto;
  border-bottom: 1px solid #424242;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}
.profile__input {
  background-color: inherit;
  border: 0;
  text-align: right;
  outline: none;
  color: white;
}
.profile__error {
  margin: 0 auto;
  color: red;
}

.profile__input-container:last-of-type {
  border: 0;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
  margin: 220px auto 0;
  width: 410px;
}

.profile__button-edit {
  background-color: inherit;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.profile__button-exit {
  background-color: inherit;
  color: #EE3465;
  border: 0;
  cursor: pointer;
  margin-top: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

@media screen and (max-width:1023px) {
  .profile{
    padding-top: 236px;
  }
}

@media screen and (max-width:767px) {
   .profile {
     padding-top: 70px;
   }

   .profile__input-container {
     width: 260px;
   }

   .profile__button-container {
     width: 300px;
   }

  .profile__button-edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button-exit {
    font-size: 12px;
    line-height: 15px;
  }
}