.searchForm {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #AAAAAA;
  max-width: calc(100% - 140px);
  margin: 0 auto;
  padding: 80px 0 94px;
}

.searchForm__input {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: 1.5px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 50px;
  padding-left: 22px;
  color: white;
}

.searchForm__button {
  background-color: #4285F4;
  background-image: url("../../images/button-icon.svg");
  width: 34px;
  height: 34px;
  border-radius: 48px;
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
}

.searchForm__button_disabled {
  background-color: #dbd7d7;
}

.searchForm__container {
  position: relative;
  width: 100%;
  height: 48px;
}

.searchForm__filter {
  margin-left: 48px;
  color: white;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display:flex;
  align-items: center;
}

.searchForm__filter-name {
  margin: 0;
}

@media screen and (max-width:1023px) {
  .searchForm {
    flex-direction: column;
    max-width: calc(100% - 60px);
    padding-top: 60px;
    align-items: center;
  }
  .searchForm__filter {
    margin: 38px 0 0;
  }
}

@media screen and (max-width:767px) {
  .searchForm {
    flex-direction: column;
    max-width: calc(100% - 28px);
    align-items: center;
    padding-bottom: 44px;
  }
  .searchForm__filter {
    margin: 45px 0 0;
    font-size: 11px;
    line-height: 18px;
  }
}