.footer {
  background-color: #202020;
  padding: 79px 70px 0;
}

.footer__title {
  color: #8B8B8B;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.footer__container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px
}

.footer__link {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.footer__link:last-child {
  margin: 0;
}

@media screen and (max-width:1023px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    padding: 70px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
    margin-bottom: 30px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__link {
    margin: 0 0 12px;
  }

  .footer__link:last-of-type {
    margin-bottom: 36px;
  }
  .footer__date {
    color: #8B8B8B;
  }
  .footer__container {
    font-size: 12px;
    line-height: 15px;
  }
}